<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mealmate</title>
    
    {% load static %}
    <link href="{% static 'style4.css' %}" rel="stylesheet">
    <!-- <link href="/static/style.css" rel="stylesheet"> -->
</head>
<body>
    <h1>Mealmate - Where you find the true taste!</h1>
    <br>
    <a href="open_signup">Sign up</a>
    <br>
    <br>
    <a href="open_signin">Sign in</a>
    <br>
</body>
</html>
